MDF/Pipelines/05_pl_delimited.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderStoredProcedureName": "[etl].[GetFileTaskInfo]",
            "storedProcedureParameters": {
              "TaskAuditKey": {
                "type": "Int64",
                "value": {
                  "value": "@pipeline().parameters.TaskAuditKey",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "etlControl",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "95db441c-1821-4183-bb87-3c23cd7a9253",
                  "endpoint": "ocjf6obnn2vujauxalhsb7ixzy-xbpfgmyhjw6etm5fzsi5hktm5u.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetFileTaskInfo",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "wildcardFolderPath": {
                "value": "@activity('GetFileTaskInfo').output.firstRow.SourceWildcardFolderPath",
                "type": "Expression"
              },
              "wildcardFileName": {
                "value": "@activity('GetFileTaskInfo').output.firstRow.SourceWildcardFileName",
                "type": "Expression"
              }
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation"
                },
                "columnDelimiter": {
                  "value": "@variables('Delimiter')",
                  "type": "Expression"
                },
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "lh_raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "920a12cc-7104-4013-a2a3-d7baa57e9e3f",
                    "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings",
              "copyBehavior": "MergeFiles"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@concat(activity('GetFileTaskInfo').output.firstRow.RawStoragePath, '/', activity('GetFileTaskInfo').output.firstRow.RawStorageFileName)",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "lh_raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "920a12cc-7104-4013-a2a3-d7baa57e9e3f",
                    "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "CopyToRawDestination",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "SetDelimiter",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "wildcardFolderPath": {
                "value": "@activity('GetFileTaskInfo').output.firstRow.SourceWildcardFolderPath",
                "type": "Expression"
              },
              "wildcardFileName": {
                "value": "@activity('GetFileTaskInfo').output.firstRow.SourceWildcardFileName",
                "type": "Expression"
              },
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation"
                },
                "columnDelimiter": {
                  "value": "@variables('Delimiter')",
                  "type": "Expression"
                },
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "lh_raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "a57e9e3f-d7ba-a2a3-4013-7104920a12cc",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@concat('Archive/', formatDateTime(utcnow(), 'yyyy'), '/', formatDateTime(utcnow(), 'MM'), '/', formatDateTime(utcnow(), 'dd'),'/',activity('GetFileTaskInfo').output.firstRow.RawStorageFileName)\n",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": {
                  "value": "@variables('Delimiter')",
                  "type": "Expression"
                },
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "lh_raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "a57e9e3f-d7ba-a2a3-4013-7104920a12cc",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ArchiveData",
        "dependsOn": [
          {
            "activity": "CopyToRawDestination",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "CopyRawToDestination",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "Delimiter",
          "value": {
            "value": "@activity('GetFileTaskInfo').output.firstRow.Delimiter",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SetDelimiter",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "GetFileTaskInfo",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "3160e211-76c8-aee1-4ee3-2fc7518ade5d",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "TaskList": {
              "value": {
                "value": "@string(activity('GetFileTaskInfo').output.firstRow)",
                "type": "Expression"
              },
              "type": "string"
            },
            "GUIDList": {
              "value": {
                "value": "@string(activity('GetGlobalConfig').output.value)",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "CopyRawToDestination",
        "description": "with skiprows",
        "dependsOn": [
          {
            "activity": "GetFileTaskInfo",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "GetGlobalConfig",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "select * from etl.GlobalConfig",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "etlControl",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "95db441c-1821-4183-bb87-3c23cd7a9253",
                  "endpoint": "ocjf6obnn2vujauxalhsb7ixzy-xbpfgmyhjw6etm5fzsi5hktm5u.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetGlobalConfig",
        "dependsOn": []
      }
    ],
    "parameters": {
      "TaskAuditKey": {
        "type": "string"
      },
      "ETLLoadDateTime": {
        "type": "string"
      },
      "TaskKey": {
        "type": "string"
      }
    },
    "variables": {
      "Delimiter": {
        "type": "String"
      }
    }
  }
}