MDF/Pipelines/04_pl_Notebook_Task.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderStoredProcedureName": "[etl].[GetDatabaseTaskInfo]",
            "storedProcedureParameters": {
              "TaskAuditKey": {
                "type": "Int64",
                "value": {
                  "value": "@pipeline().parameters.TaskAuditKey",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "etlControl",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "95db441c-1821-4183-bb87-3c23cd7a9253",
                  "endpoint": "ocjf6obnn2vujauxalhsb7ixzy-xbpfgmyhjw6etm5fzsi5hktm5u.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetTaskInfo",
        "description": "This returns file-specific information, including the source path and file format.",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderStoredProcedureName": "[etl].[GetApiTaskNotebooks]",
            "storedProcedureParameters": {
              "TaskKey": {
                "type": "Int32",
                "value": {
                  "value": "@pipeline().parameters.TaskKey",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "etlControl",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "95db441c-1821-4183-bb87-3c23cd7a9253",
                  "endpoint": "ocjf6obnn2vujauxalhsb7ixzy-xbpfgmyhjw6etm5fzsi5hktm5u.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetFileTaskNotebookName",
        "description": "There can be one or more notebooks to execute for a given task. The primary notebook to run will be one to load Raw to Bronze and convert to Delta Lake. Other notebooks can perform other actions such as schematization, handle deletions, create Databricks delta tables or views.",
        "dependsOn": [
          {
            "activity": "GetTaskInfo",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "44d83602-b267-4541-8211-6efb9d9b44ab",
            "type": "PipelineReference"
          },
          "parameters": {
            "RawStoragePath": {
              "value": "@activity('GetApiTaskInfo').output.firstRow.RawStoragePath",
              "type": "Expression"
            },
            "BronzeLakehouseId": {
              "value": "@activity('GetApiTaskInfo').output.firstRow.BronzeLakehouseId",
              "type": "Expression"
            },
            "TaskAuditKey": {
              "value": "@pipeline().parameters.TaskAuditKey",
              "type": "Expression"
            },
            "TaskKey": {
              "value": "@pipeline().parameters.TaskKey",
              "type": "Expression"
            },
            "BronzeWorkspaceId": {
              "value": "@activity('GetApiTaskInfo').output.firstRow.BronzeWorkspaceId",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "pl_cleanup_raw",
        "description": "Call pipeline to delete file from Raw since it was successfully loaded to Bronze.",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "179a95ef-383e-8c3e-4975-298593401a68",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "NotebookName": {
              "value": {
                "value": "@activity('GetFileTaskNotebookName').output.firstRow.NotebookName",
                "type": "Expression"
              },
              "type": "string"
            },
            "WorkspaceName": {
              "value": "Dev - Crimson",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ExecuteNotebookbyName",
        "dependsOn": [
          {
            "activity": "GetFileTaskNotebookName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "518ade5d-2fc7-4ee3-aee1-76c83160e211",
          "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "CopyRawToDestination",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "ExecuteNotebookbyName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@activity('GetFileTaskNotebookName').output.firstRow.SourceWildcardFolderPath",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@activity('GetFileTaskNotebookName').output.firstRow.SourceWildcardFileName",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "lh_raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "920a12cc-7104-4013-a2a3-d7baa57e9e3f",
                    "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "fileExtension": ".txt"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@activity('GetFileTaskNotebookName').output.firstRow.SourceWildcardFolderPath",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@activity('GetFileTaskNotebookName').output.firstRow.SourceWildcardFileName",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "lh_raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "920a12cc-7104-4013-a2a3-d7baa57e9e3f",
                    "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ArchiveData",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "CopyRawToDestination",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "TaskAuditKey": {
        "type": "int"
      },
      "TaskKey": {
        "type": "int"
      },
      "EtlLoadDateTime": {
        "type": "string"
      },
      "TaskType": {
        "type": "string",
        "defaultValue": "NotebookTask"
      }
    },
    "variables": {
      "varRunPageUrlExists": {
        "type": "Boolean"
      }
    }
  }
}