MDF/Pipelines/02_pl_sequential_tasks.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderStoredProcedureName": "[etl].[GetTaskWorklist]",
            "storedProcedureParameters": {
              "JobAuditKey": {
                "type": "Int64",
                "value": {
                  "value": "@pipeline().parameters.JobAuditKey",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "etlControl",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "95db441c-1821-4183-bb87-3c23cd7a9253",
                  "endpoint": "ocjf6obnn2vujauxalhsb7ixzy-xbpfgmyhjw6etm5fzsi5hktm5u.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetSequentialJobTasks",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('GetSequentialJobTasks').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "ExecutePipeline",
              "typeProperties": {
                "pipeline": {
                  "referenceName": "664af2b1-1a07-97eb-4cce-36e6caa2f53a",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "TaskAuditKey": {
                    "value": "@item().TaskAuditKey",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              },
              "policy": {
                "secureInput": false
              },
              "name": "pl_run_task",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEachSequentialTask",
        "dependsOn": [
          {
            "activity": "GetSequentialJobTasks",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "JobAuditKey": {
        "type": "int"
      },
      "EtlLoadDateTime": {
        "type": "string"
      }
    }
  }
}