TestItems/05_pl_factset.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderStoredProcedureName": "[etl].[GetFileTaskInfo]",
            "storedProcedureParameters": {
              "TaskAuditKey": {
                "type": "Int64",
                "value": {
                  "value": "@pipeline().parameters.TaskAuditKey",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "etlControl",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "95db441c-1821-4183-bb87-3c23cd7a9253",
                  "endpoint": "ocjf6obnn2vujauxalhsb7ixzy-xbpfgmyhjw6etm5fzsi5hktm5u.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetFileTaskInfo",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "39d154c2-3582-4b6f-8efb-ec719f69d903",
          "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced",
          "parameters": {
            "fileinfo": {
              "value": {
                "value": "@string(activity('GetFileTaskInfo').output.value)",
                "type": "Expression"
              },
              "type": "string"
            },
            "watermark": {
              "value": {
                "value": "@string(activity('GetWatermarkList').output.value)",
                "type": "Expression"
              },
              "type": "string"
            }
          },
          "sessionTag": "HCSession"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "CopyToRawDestination_Factset",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "GetFileTaskInfo",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "GetWatermarkList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "select * from etl.Watermark where FileTaskKey IS NOT NULL",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "etlControl",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "95db441c-1821-4183-bb87-3c23cd7a9253",
                  "endpoint": "ocjf6obnn2vujauxalhsb7ixzy-xbpfgmyhjw6etm5fzsi5hktm5u.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "33535eb8-4d07-49bc-b3a5-cc91d3aa6ced"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetWatermarkList",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "wildcardFolderPath": {
                "value": "@activity('GetFileTaskInfo').output.firstRow.SourceWildcardFolderPath",
                "type": "Expression"
              },
              "wildcardFileName": "*.txt",
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation"
                },
                "columnDelimiter": "|",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "lh_raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "a57e9e3f-d7ba-a2a3-4013-7104920a12cc",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings",
              "copyBehavior": "MergeFiles"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@activity('GetFileTaskInfo').output.firstRow.RawStoragePath",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@concat(activity('GetFileTaskInfo').output.firstRow.RawStorageFileName,'.parquet')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "lh_raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "a57e9e3f-d7ba-a2a3-4013-7104920a12cc",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "CopyFactsetFilesToDestination",
        "dependsOn": [
          {
            "activity": "GetFileTaskInfo",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "wildcardFolderPath": {
                "value": "@activity('GetFileTaskInfo').output.firstRow.SourceWildcardFolderPath",
                "type": "Expression"
              },
              "wildcardFileName": "*.txt",
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation"
                },
                "columnDelimiter": "|",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "lh_raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "a57e9e3f-d7ba-a2a3-4013-7104920a12cc",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@concat('Archive/', formatDateTime(utcnow(), 'yyyy'), '/', formatDateTime(utcnow(), 'MM'), '/', formatDateTime(utcnow(), 'dd'), '/Factset')\n",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": "|",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "lh_raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "a57e9e3f-d7ba-a2a3-4013-7104920a12cc",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ArchiveData",
        "dependsOn": [
          {
            "activity": "CopyFactsetFilesToDestination",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "TaskAuditKey": {
        "type": "string"
      },
      "ETLLoadDateTime": {
        "type": "string"
      },
      "TaskKey": {
        "type": "string"
      }
    }
  }
}